{% extends 'master.html' %}

{% block title %} userhome {% endblock %}


{% block body %}

{%  load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xt-12 col-lg-12">
            <h1>welcome user: {{name}}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2 class="text-center" >{{status}}</h2>
        <div class="col-md-6 col-xt-6 col-lg-6">
            <a href="#">
             <img src="{% static 'user/turf.jpg'%}">
            <a href="show_event">
                <p>show all events</p>
            </a>
        </div>
           <div class="col-md-6 col-xt-6 col-lg-6">
               <a href="ground_booking">
             <img src="{% static 'user/turf1.jpg'%}">
             <p>Book Turf</p>
               </a>
        </div>
    </div>
</div>

{% endblock %}